<div class="container">
  <div class="columns is-centered">
    <div class="box column is-one-third">
      <h1 class="title has-text-centered">Typing Challange</h1>
      <p class="has-text-centered">{{randomText}}</p>
      <div class="field has-text-centered">
        <input class="field" (input)="handleText($event)" [value]="enteredText" />
        
      </div>

      <div class="has-text-centered">
        <h1 class="title" *ngIf="enteredText">Success Message</h1>
      </div>
    </div>
  </div>
</div>
